<!DOCTYPE html>
<html lang="en" dir="ltr">

<head>
    <meta charset="utf-8">
    <title>Daily Journal</title>
    <meta charset="utf-8">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <link rel="stylesheet" href="./aa.css">
   

<body>
    <header id="main-navigation">
        <h1><a href="{% url " starting-page" %}">StarK's nnn Blog</a></h1>
        <nav>
            <a href="{% url " posts-page" %}">All Posts</a>
            <a href="{% url " read-later" %}">Stored Posts</a>
        </nav>
    </header>
    <div class="container">
        <br><br>
        <section id="comment-form">
            <h2>Your Comment</h2>
            <form action="" method="POST">
                
                <div class="form-control">
                    <label for="a"> Name
                        <input type="text" name="a" id="a">
                    </label>
                </div>
                <button>Save Comment</button>
            </form>
        </section>

</div>
<div class="footer-padding"></div>
<div class="footer">
    <p>Made </p>
</div>
</div>
</body>

</html>